# Complied source #
###################

*.exe
*.hi
*.o

# LaTeX auxiliary files #
#########################

*.aux
*.idx
*.ilg
*.ind
*.log
*.nlo
*.nls
*.out
*.ptc
*.ptx
*.gz

# Miscellaneous files #
#######################

*.db
*~
*#
Test.ipynb
*.png
*.pickle
am_dls_data.txt

# Folders #
###########

elm-stuff
.ipynb_checkpoints